namespace kingdom {
    using special_tests_t = std::array<typename ExpansionEditionFilter::enum_t, {{size}}uz>;

    static constexpr auto special_tests() noexcept -> const special_tests_t& {
        {{=<% %>=}}
        static constexpr special_tests_t singleton {{
            <%#data%>
            { Expansion::<%expansion%>, EditionModifier::<%edition_modifier%> },    // <%name%>
            <%/data%>
        }};
        <%={{ }}=%>
        return singleton;
    }
}

