namespace landscapes {
    using special_tests_t = std::array<typename ExpansionFilter::enum_t, {{size}}uz>;

    static constexpr auto special_tests() noexcept -> const special_tests_t& {
        {{=<% %>=}}
        static constexpr special_tests_t singleton {{
            <%#data%>
            Expansion::<%expansion%>,   // <%name%>
            <%/data%>
        }};
        <%={{ }}=%>
        return singleton;
    }
}

