#include "amount_getters.hpp"

namespace config::kingdom {
    {{#amount_getters}}
    {{#count_unused}}
    auto {{name}}_unused(const kingdom_amounts_t& t, const kingdom_amounts_t& max) noexcept -> coefficient_t {
        return diff_tuple_on_enum_index<
            {{tuple_indices}}
        >(t, max);
    }

    {{/count_unused}}
    {{^count_unused}}
    auto {{name}}_total(const kingdom_amounts_t& t) noexcept -> coefficient_t {
        return sum_tuple_on_enum_index<
            {{tuple_indices}}
        >(t);
    }

    {{/count_unused}}
    {{/amount_getters}}
}
