#include "amount_getters.hpp"

namespace config{
    {{#tuple_indices}}
    namespace {{ns}} {
        {{#names}}
        auto {{function}}(const {{ns}}_amounts_t& t) noexcept -> coefficient_t {
            return tuple_enum_get<AmountIndex::{{macro}}>(t);
        }

        {{/names}}
    }

    {{/tuple_indices}}
}
