{{#ns}}
namespace {{ns}} {
    enum class {{name}} : uint8_t {
        {{#data}}
        {{{.}}},
        {{/data}}
    };

    using Sized{{name}} = utils::enums::SizedEnum<{{name}}, {{size}}uz>;
}
{{/ns}}
{{^ns}}
enum class {{name}} : uint8_t {
{{#data}}
    {{{.}}},
{{/data}}
};

using Sized{{name}} = utils::enums::SizedEnum<{{name}}, {{size}}uz>;
{{/ns}}

