namespace kingdom {
    using special_tests_t = std::array<typename ExpansionEditionFilter::enum_t, {{num_specials}}uz>;

    static constexpr auto& special_tests() noexcept {
        {{=<% %>=}}
        static constexpr special_tests_t singleton {{
            <%#data%>
            { Expansion::<%expansion%>, EditionModifier::<%edition_modifier%> },    // <%name%>
            <%/data%>
        }};
        <%={{ }}=%>
        return singleton;
    }
}

